@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.lato{
    font-family: 'Lato', sans-serif!important;
}

.yellowBg{
  background-color: #f0c420!important;
  color:#ffffff!important;
}
.yellow{
  color:#f0c420!important;
}

.yellowBtn{
  background-color: #f0c420!important;
  color:#ffffff!important;
}
.darkYellowBtn{
  background-color: #C59B01!important;
  color:#ffffff!important;

}
.nav-item:hover{
  text-decoration: underline!important;
}